.DS_Store
.idea/
.vercel

.env
.env.*
!.env.example

# ctags
tags

node_modules
dev
dist
tsconfig.tsbuildinfo
.manicode
__mock-projects__
.aider*
.codebuff*
**.log

debug/

# Nx cache directories
.nx/cache
.nx/workspace-data
